@font-face {
    font-family: 'calendas_plusregular';
    src: url('../fonts/calendas_plus-webfont.eot');
    src: url('../fonts/calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/calendas_plus-webfont.woff2') format('woff2'),
    url('../fonts/calendas_plus-webfont.woff') format('woff'),
    url('../fonts/calendas_plus-webfont.ttf') format('truetype'),
    url('../fonts/calendas_plus-webfont.svg#calendas_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Times';
    src: url('../fonts/times.ttf');
    src: url('../fonts/timesbd.ttf');
    src: url('../fonts/timesbi.ttf');
    src: url('../fonts/timesi.ttf');
}

:root {
    --font-color: #575757;
    --color-accent: rgb(63, 170, 246)
}

* {
    transition: all 300ms ease-in !important;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: #f1efef;
    color: var(--font-color);
    font-family: 'calendas_plusregular';
}

header {
    width: 100%;
    text-align: center;
}

header img {

    max-height: 40px;
    float: right;
}

header > section {
    max-width: 800px;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    margin: 30px auto auto;
    /*for header fixing*/
    box-sizing: border-box;
    /*Neomorphism.io*/
    /*border-radius: 72px;*/
    /*background: #e0e0e0;*/
    /*box-shadow: 9px 9px 18px #9d9d9d,*/
    /*-9px -9px 18px #ffffff;*/
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: #ffffff;

}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

}

header div input {
    font-size: 16px;
    font-family: 'calendas_plusregular';;
    font-weight: 300;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3)
}

header a {
    font-size: 20px;
    color: var(--font-color);
    text-decoration: none;
    font-weight: 900;
    margin: 0 10px;
    padding: 5px;

}

header a:hover {

    color: #03156b;
    text-decoration: underline;
}

.products {

    display: flex;
    max-width: 845px;
    flex-wrap: wrap;
    margin: auto;

    justify-content: center;
    align-items: stretch;
    margin-top: 20px;
}

.product-box {
    max-width: 230px;
    margin: 15px;
    padding-bottom: 7px;

    /*column height will be set to 100% so the same height for all products in the home page*/
    height: 100%;

    /*border-radius: 29px;*/
    /*background: #e0e0e0;*/
    /*box-shadow: 5px 5px 10px #bebebe,*/
    /*-5px -5px 10px #ffffff;*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.product-box > img {
    width: 100%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.product-box > h3 {
    margin: 8px;

}

.product-box > a {
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
    color: var(--font-color);
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 3px solid rgb(16, 84, 45);
    border-radius: 9px;
    background: rgb(144, 196, 210);

}

/*.product-box > a.blue {*/
/*    border: 2px solid rgb(7, 127, 186);*/
/*    border-radius: 9px;*/
/*    background: rgb(215, 139, 139);*/

/*}*/

.product-box > a:hover {

    background: rgb(200, 224, 231);

}

.product-box > p {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 7px;
    margin-right: 10px;
    margin-top: 7px;
}

a {
    dispaly: flex;
    align-items: center;
}

a > img {
    width: 15px;
    margin-left: 5px;
}

.tag {

    font-size: 14px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding: 2px 5px;
    font-weight: 200;

}

.tag img {
    width: 18px;
    margin-right: 5px;
}

.price {
    font-family: 'Times New Roman';
    font-weight: bold;
    bottom: 100px;
}
td.price{
    font-weight: normal;
}
p{
    text-align: justify;
    padding: 5px 10px;
}
a.icon {
    display: inline-flex;
    align-items: center;
}

a.icon > img {
    width: 30px;
    margin-right: 5px;
}

.add-to-cart-btn2 {
    text-decoration: none;
    padding: 5px;
    color: #f1efef;
    font-size: 16px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background: var(--color-accent);
    font-weight: 400;
    display: flex !important;
    justify-content: center;
}

.add-to-cart-btn2:hover {
    background: rgb(6, 76, 131);
}

.tag.big {
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    /*margin: 5px;*/
}

.tag.one {
    border: 1px solid #ff000061;
    background: rgba(255, 0, 0, 0.05);
}

.tag.two {
    border: 1px solid rgba(0, 94, 255, 0.38);
    background: rgba(0, 136, 255, 0.05);
}

.tag.three {
    border: 1px solid rgba(74, 236, 10, 0.38);
    background: rgba(16, 84, 45, 0.18);
    margin-top: 5px;
}

.tag.three img {
    border: 1px solid rgba(74, 236, 10, 0.38);
    background: rgba(16, 84, 45, 0.18);
    margin-top: 5px;
    width: 150px;
}

.product-detail-box {
    background: #ffffff;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.2);
    padding: 10px;

    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: 50px auto auto;
}

.product-detail-box .product-image{
    max-width: 280px;
    margin-right: 10px;
    width: 100%;
}

.product-detail-box > section {
    max-width: 500px;
}

.product-detail-box h1 {
    margin: 5px;
}

.product-detail-box h6 {
    font-family: "Times New Roman";
    font-size: 13px;
    margin: 5px;
}

.product-detail-box .price {
    display: block;
    background: #888787;
    font-size: 20px;
    font-weight: 500;
    color: #f1efef;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.product-detail-box .price-box {
    margin-top: 20px;
    text-align: center;
}

.product-description-box {
    max-width: 1000px;
    margin: auto;
    font-family: "Times New Roman";
}

.product-detail-box p {
    text-align: justify;

}

.similar-products-box {
    max-width: 1000px;
    margin: auto;

}

#header-menu-btn {
    float: left;
    display: none;
    /*visibility: hidden;*/
}

#header-menu-close-btn {
   text-align: right !important;
    width: 95%;
    margin: 10px;
    font-size: 20px;
    display: none;

}

.simple-box{
    background: #ffffff;
    border:2px solid rgba(0,0,0,0.2);
    border-radius:25px ;
    max-width: 800px;
    margin: 20px auto auto;
    padding: 10px;
}
.simple-box h1{
    margin: 2px 10px;
}
table.cart td{
    padding: 17px;
    /*border-bottom:1px solid #777676;*/
    }
table.cart{
    margin: auto;

}
.small-ellipse{
    border-radius: 45%;

}

.quantity-column {
    width: 100px; /* Adjust the width to your preference */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #696767;
    height: 3px;
    margin-top: 8px;
    font-family: "Times New Roman";
    padding-right: 20px;
}
.cartitem-decrease-increase{
    width: 20px;
    margin-left: 1px;
    padding: 2px;

    flex: 0;
    text-decoration: none;
    font-weight: 100;
    font-size: 25px;
    font-family: "Times New Roman";
}
.title{
    border-bottom: 2px solid #656363 !important;
    padding: 10px;
    font-weight: 100 !important;
}

#register-box{
    display: none;
}
.simple-box input, .simple-box textarea{
    color: var(--font-color);
    font-size: 16px;
    max-width: 180px;
    font-family: Vazirmatn;
    display: block;
    border-radius: 10px;
    margin: 5px auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2px 10px;
}
.simple-box input[type='submit'] {
    all: unset;
    border-radius: 10px;
    width: 100%;
    max-width: 191px;
    cursor: pointer;
    margin: auto;
    display: block;
    text-align: center;
    background: transparent;
    border: 2px solid var(--color-accent);
    padding: 3px 4px;
    color: var(--color-accent);
    font-weight: 900;
}
.simple-box input[type='submit']:hover {
    background: var(--color-accent);
    color: #ffffff;
}


#login-box, #register-box {
    text-align: center;
}
.eggy .title {
    font-weight: 800 !important;
    font-size: 19px !important;
}

.eggy .message {
    font-weight: 400 !important;
    font-size: 16px !important;
}
/*--------------------------------------------------------------------------------*/
@media (max-width: 730px) {
    /*#header-menu-btn{visibility: visible}*/
    header > section > div {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #ffffff;

        height: 0;
        overflow: hidden;
        z-index: 99;
    }

    header > section > div > * {
        display: block;
    margin-top: 5px;
    }
#header-menu-btn {
    display: block;
}
#header-menu-close-btn {
     display:block;
}

}