@font-face {
    font-family: 'calendas_plusregular';
    src: url('../fonts/calendas_plus-webfont.eot');
    src: url('../fonts/calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/calendas_plus-webfont.woff2') format('woff2'),
    url('../fonts/calendas_plus-webfont.woff') format('woff'),
    url('../fonts/calendas_plus-webfont.ttf') format('truetype'),
    url('../fonts/calendas_plus-webfont.svg#calendas_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

:root {
    --font-color: #575757;
}

* {
    transition: all 300ms ease-in;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: #e0e0e0;
    color: var(--font-color);
    font-family: 'calendas_plusregular';
}

header {
    width: 100%;
    text-align: center;
}

header img {

    height: inherit;
    float: right;
}

header > section {
    max-width: 800px;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    margin: 30px auto auto;

    /*Neomorphism.io*/
    /*border-radius: 72px;*/
    /*background: #e0e0e0;*/
    /*box-shadow: 9px 9px 18px #9d9d9d,*/
    /*-9px -9px 18px #ffffff;*/
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

}

header  div  input{
    font-size: 16px;
    font-family: 'calendas_plusregular'; ;
    font-weight: 300;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3)
}

header a {
    font-size: 20px;
    color: var(--font-color);
    text-decoration: none;
    font-weight: 900;
    margin: 0 10px;
    padding: 5px;

}

header a:hover {

    color: #03156b;
    text-decoration: underline;
}

.products {

    display: flex;
    max-width: 845px;
    flex-wrap: wrap;
    margin: auto;

    justify-content: center;
    align-items: stretch;
    margin-top: 20px;
}

.product-box {
    max-width: 230px;
    margin: 15px;
    padding-bottom: 7px;
    /*border-radius: 29px;*/
    /*background: #e0e0e0;*/
    /*box-shadow: 5px 5px 10px #bebebe,*/
    /*-5px -5px 10px #ffffff;*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.product-box > img {
    width: 100%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.product-box > h3 {
    margin: 8px;

}

.product-box > a {
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
    color: var(--font-color);
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 3px solid rgb(16, 84, 45);
    border-radius: 9px;
    background: rgb(144, 196, 210);

}

/*.product-box > a.blue {*/
/*    border: 2px solid rgb(7, 127, 186);*/
/*    border-radius: 9px;*/
/*    background: rgb(215, 139, 139);*/

/*}*/

.product-box > a:hover {

     background: rgb(200, 224, 231);

}

.product-box > p {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 7px;
    margin-right: 10px;
    margin-top: 7px;
}

a {
    dispaly: flex;
    align-items: center;
}

a > img {
    width: 15px;
    margin-left: 5px;
}

.tag {

    font-size: 14px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding: 2px 5px;
    font-weight: 200;

}

.tag img {
    width: 15px;
    margin-right: 5px;
}

.tag.one {
    border: 1px solid #ff000061;
    background: rgba(255, 0, 0, 0.05);
}

.tag.two {
    border: 1px solid rgba(0, 94, 255, 0.38);
    background: rgba(0, 136, 255, 0.05);
}