{% extends 'base.html' %}

{% block header %}
    <title>Edit Product</title>
{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    <td><img style="width: 60px" src="/static/cover/{{ product.id }}.jpg"></td>
    <form action="#" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label>Cover: </label><input type="file" name="cover"><br>
        <input type="text" name="name" value="{{ product.name }}" placeholder="Product Name"><br>
        <textarea name="description"  placeholder="Description">{{ product.description }}</textarea><br>
        <input type="number" name="price" value="{{ product.price }}" placeholder="Product Price"><br>
        <label>Active: </label><input type="checkbox" value="1" name="active" {{ "checked" if product.active == 1  }}><br>
        <input type="submit">
    </form>
{% endblock %}



