{% extends 'base.html' %}

{% block header %}
    <title>Admin Products</title>
{% endblock %}

{% block body %}
    <h1>Admin Products</h1>
    <table >
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Active</th>
            <th>Edit</th>
        </tr>

        {% for p in products %}
            <tr>
            <td><img style="width: 40px" src="/static/cover/{{ p.id }}.jpg"></td>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.price }}</td>
            <td>{{ "Yes" if p.active == 1 else "No" }}</td>
            <td><a href="/admin/dashboard/edit-product/{{ p.id }}">Edit</a> </td>
            </tr>
        {% endfor %}


    </table>
    <form action="#" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label>Cover: </label><input type="file" name="cover"><br>
        <input type="text" name="name" placeholder="Product Name"><br>
        <textarea name="description" placeholder="Description"></textarea><br>
        <input type="number" name="price" placeholder="Product Price"><br>
        <label>Active: </label><input type="checkbox" value="1" name="active"><br>
        <input type="submit">
    </form>
{% endblock %}



