<!DOCTYPE html>
<html lang="en">
{#<html lang="fa" dir="rtl">#}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/eggy.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/progressbar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    {% block header %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

<script>
    const prices = document.getElementsByClassName('price')
    for (let i = 0; i < prices.length; i++) {
        let price = prices[i]
        price.innerText = "$" +parseInt(price.innerText).toLocaleString()
    }

    const header_menu = document.getElementById('header-menu');
    const change_header_menu = (show) => {
        if (show) {
            header_menu.style.height = header_menu.scrollHeight + "px"
        } else {
            header_menu.style.height = "0"
        }
    }
</script>

{#https://www.cssscript.com/modern-toast-popup-eggyjs/#google_vignette#}
<script type="module">
    import {Eggy} from '{{ url_for('static',filename='js/eggy.mjs') }}';
    {% for m in get_flashed_messages() %}
        await Eggy({
            title: 'Notice',
            message: '{{ m }}',
            type: 'error',
            duration: 10000,
        });
    {% endfor %}
</script>


</body>
</html>

