{% extends 'base.html' %}

{% block header %}
    <title>Your cart</title>
{% endblock %}

{% block body %}
    {% include'part/header.html' %}

    <section class="simple-box">


        {% if cart != None and cart.cart_items|list|length > 0 %}
            <table class="cart">

                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>


                {% for cart_item in cart.cart_items %}
                    <tr>
                        <td>{{ cart_item.product.name }}</td>
                        <td class="price">{{ cart_item.product.price }}</td>
                        <td><a href="/remove-from-cart?id={{ cart_item.id }}">-</a>
                            {{ cart_item.quantity }}
                            <a href="/add-to-cart?id={{ cart_item.product.id }}">+</a>
                        </td>
                        <td class="price">{{ cart_item.quantity * cart_item.product.price }}</td>
                    </tr>


                {% endfor %}

            </table>
            <div class="price-box-box">
{#                Total price:#}
                <span class="price">{{ cart.total_price() }}</span>
                <a class="add-to-cart-btn2" href="/payment">Checkout</a>

            </div>

        {% else %}
            Cart is empty!
        {% endif %}
    </section>


{% endblock %}



