{% extends 'base.html' %}

{% block header %}
    <title>User cart</title>
{% endblock %}

{% block body %}

    {% if cart != None and cart.cart_items|list|length > 0 %}

        {% for cart_item in cart.cart_items %}

            {{ cart_item.product.name }} , {{ cart_item.quantity }} * {{ cart_item.product.price }} ==>
            ${{ cart_item.quantity * cart_item.product.price }}

            <form action="/remove-from-cart" method="get">
                <input type="hidden" name="id" value="{{ cart_item.id }}">
                <input type="submit" value="Remove">
            </form>
            <br>
        {% endfor %}


        <br><b> Total price: ${{ cart.total_price() }} </b>
        <a href="/payment">Checkout</a>
    {% else %}
        Cart is empty!
    {% endif %}
{% endblock %}



