{% extends 'base.html' %}

{% block header %}
    <title>Your cart</title>
{% endblock %}

{% block body %}
    {% include'part/header.html' %}

    {##}
    {#{% set x = 0 %}#}
    {#{% for cart_item in cart.cart_items %}#}
    {#    {% set x = x + cart_item.quantity %}#}
    {#{% endfor %}#}
    {#<h1>Cart ({{ x }} items)</h1>#}


    <section class="simple-box">
<h1>Your Cart: </h1>

        {% if cart != None and cart.cart_items|list|length > 0 %}
            <table class="cart">

                <tr>
                    <th class="title">Name</th>
                    <th class="title">Price</th>
                    <th class="title">Quantity</th>
                    <th class="title">Subtotal</th>

                </tr>


                {% for cart_item in cart.cart_items %}
                    <tr>
                        <td>{{ cart_item.product.name }}</td>
                        <td class="price">{{ cart_item.product.price }}</td>
                        <td class="small-ellipse quantity-column">
                            <a class="cartitem-decrease-increase" href="/remove-from-cart?id={{ cart_item.id }}">-</a>
                            {{ cart_item.quantity }}
                            <a class="cartitem-decrease-increase"
                               href="/add-to-cart?id={{ cart_item.product.id }}">+</a>
                        </td>
                        <td class="price">{{ cart_item.quantity * cart_item.product.price }}</td>
                    </tr>


                {% endfor %}

            </table>
            <div class="price-box-box">
                {#                Total price:#}
                <span class="price">{{ cart.total_price() }}</span>
                <a class="add-to-cart-btn2 icon" href="/payment">Checkout<img
                        src="{{ url_for('static', filename='theme-image/payment.png') }}"></a>

            </div>

        {% else %}
            <i style="display: block;text-align: center;">Cart is empty!</i>
        {% endif %}
    </section>


{% endblock %}



